/* 
	**** HTML5 Tic-Tac-Toe CSS ****

		Author:			Troy Davis
		Created:		Apr 04, 2017
		Last revision:	Apr 05, 2017 (rev00)

	**** HTML5 Tic-Tac-Toe CSS ****
*/
body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	margin: 0;
	padding: 0;
	color: #a28c64;
	background-color: #1a1a1a;
}
#wrapper {
	width: 800px;
	margin: 0 auto;
	padding: 10px 0;
	background-color: #0f0f0f;
	position: relative;
}
#gameMessage {
    width: 600px; /* 600px total, include margins, padding and borders */ 
    height: 50px; /* 100px total, include margins, padding and borders */
    margin: 25px auto;
    padding: 20px 0;

	font-size: 32px;
    font-weight: bold;
    text-align: center;
}
#gameGrid {
	width: 450px; /* 450px total, include margins, padding and borders */
	margin: 0 auto;
	padding: 0;
    overflow: hidden;
}
.gameGridCell {
    float: left;
	width: 146px; /* 150px total, include margins, padding and borders */
	height: 146px; /* 150px total, include margins, padding and borders */
	margin: 0;
	padding: 0;
    border: 2px solid #aaa;

	font-size: 115px;
    text-align: center;

    overflow: hidden;

	/* prevent selection of text in game grid cells */
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */   
}
.gameGridCell_MouseOver {
    background-color: #18340e;
}
.gameGridCell_MouseOut {
    background-color: #2a0e34;
}
#gameControls {
    width: 600px; /* 600px total, include margins, padding and borders */ 
    height: 100px; /* 100px total, include margins, padding and borders */
    margin: 20px auto;
    padding: 0;
    text-align: center;
}
#gameButton {
    width: 450px; /* 450px total, include margins, padding and borders */
    height: 100px; /* 100px total, include margins, padding and borders */
    margin: 0 auto;
    padding: 0;
    background-color: #a28c64;

	font-size: 40px;
    font-weight: bold;
	color: #2a0e34;
    text-align: center;
}
